.app {
}

.header {
  height: 120px;
  background-image: var(--header-bg-color);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  padding-left: 0;
  list-style: none;
}

.header__navbar-item {
  padding: 0 8px;
  position: relative;
  min-height: 26px;
}

.header__navbar-item--has-qr:hover .header__qr,
.header__navbar-item--has-notify:hover .header__notify {
  display: block;
}

.header__navbar-item-link {
  padding: 0 8px;
  min-height: 26px;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}

.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
  opacity: 0.8;
  cursor: pointer;
}

.header__navbar-item--strong {
  font-weight: 400;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid var(--white-color);
  height: 16px;
  opacity: 0.5;
  right: -4px;
  top: 50%;
  transform: translateY(-50%);
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

.header__navbar-title--no-pointer {
  cursor: text;
  color: var(--white-color);
}

/* Header QR Code */
.header__qr {
  width: 186px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  top: 118%;
  padding: 8px;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.3s;
}

.header__qr::before {
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  top: -16px;
  content: "";
  display: block;
}

.header__qr-img {
  width: 100%;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
  margin-left: 11px;
  margin-right: 12px;
}

.header__qr-link {
}

.header__qr-download-img {
  height: 16px;
}

/* Header Notification */
.header__notify {
  width: 404px;
  background-color: var(--white-color);
  position: absolute;
  top: 118%;
  right: 0;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.08);
  border: #d3d3d3 1px solid;
  /* transform-origin: top right; */
  transform-origin: calc(100% - 20px) top;
  -o-animation: headerNotifyGrowth ease-in 0.2s;
  -webkit-animation: headerNotifyGrowth ease-in 0.2s;
  -moz-animation: headerNotifyGrowth ease-in 0.2s;
  animation: headerNotifyGrowth ease-in 0.2s;
  will-change: opacity, transform;
  display: none;
}

@keyframes headerNotifyGrowth {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.header__notify::before {
  position: absolute;
  right: 4px;
  top: -28px;
  content: "";
  border-width: 20px 26px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}

.header__notify::after {
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  right: 0;
  top: -16px;
  display: block;
}

.header__notify-header {
  background-color: var(--white-color);
  height: 40px;
  user-select: none;
}

.header__notify-header h3 {
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.4rem;
  color: #999;
  line-height: 40px;
}

.header__notify-list {
  list-style: none;
  padding-left: 0;
}

.header__notify-item {
  display: flex;
  background-color: rgba(238, 75, 43, 0.1);
}

.header__notify-item:hover {
  background-color: #f7f7f7;
}

.header__notify-item--viewed {
  background-color: var(--white-color);
}

.header__notify-link {
  display: flex;
  padding: 12px;
  text-decoration: none;
  width: 100%;
}

.header__notify-img {
  width: 48px;
  object-fit: contain;
}

.header__notify-info {
  margin-left: 12px;
}

.header__notify-name {
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: var(--black-color);
}

.header__notify-description {
  display: block;
  font-size: 1.2rem;
  margin-top: 4px;
  line-height: 1.6rem;
  color: #756f6e;
}

.header__notify-footer {
}

.header__notify-footer-btn {
  text-decoration: none;
  width: 100%;
  padding: 8px 0;
  text-align: center;
  font-weight: 400;
  color: var(--text-color);
  font-size: 1.4rem;
  display: block;
}

/* Authen modal */
.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 10px;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  color: var(--primary-color);
  font-size: 1.6rem;
  cursor: pointer;
}

.auth-form__form {
}

.auth-form__input {
  height: 40px;
  width: 100%;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  font-weight: 400;
  border: 1px solid var(--border-color);
  outline: none;
  border-radius: 2px;
}

.auth-form__input:focus {
  border-color: #888;
}

.auth-form__aside {
  margin-top: 18px;
}

.auth-form__policy-text {
  padding: 0 12px;
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.8rem;
}

.auth-form__text-link {
  color: var(--primary-color);
  text-decoration: none;
}

.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__controls-back {
  background-color: var(--white-color);
  margin-right: 8px;
}

.auth-form__socials {
  padding: 16px 36px;
  background-color: #f5f5f5;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-form__socials--facebook.auth-form__socials-icon {
  color: var(--white-color);
}

.auth-form__socials--google.auth-form__socials-icon {
}

.auth-form__socials--facebook,
.auth-form__socials--google {
  padding-left: 8px;
  flex: 1;
}

.auth-form__socials--facebook {
  background-color: #3a5a98;
  color: var(--white-color);
  margin-right: 8px;
}

.auth-form__socials--google {
  background-color: var(--white-color);
}

.auth-form__socials-icon {
  font-size: 1.8rem;
}

.auth-form__socials-title {
  display: flex;
  flex: 1;
  justify-content: center;
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.auth-form__help-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #939393;
}

.auth-form__help-separate {
  display: block;
  height: 22px;
  margin: 0 16px;
  border-left: 1px solid #eaeaea;
}

.auth-form__help-forgot {
  color: var(--primary-color);
}

.modal {
  display: none;
}
