:root {
  --bg-color: #d4c75f;
  --text-color: #000;
  --main-color: #d4c75f;
}

body {
  background-color: var(--bg-color) !important;
}

.navbar-brand .nav-link {
  color: var(--text-color);
  font-weight: 600;
}

.nav .nav-link {
  color: var(--text-color);
  font-weight: 400;
}

.nav .nav-link:hover {
  color: var(--text-color);
  opacity: 0.6;
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -ms-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}
