.bg-second {
  background: var(--second-bg-color);
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}

.pb {
  padding-bottom: 80px;
}

.function-development {
  text-align: center;
  font-size: 3rem;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
