* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
}